<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>나의 프로필</title>
</head>
<body>
<h1>내 프로필</h1>
<div>
    <label>이름: </label>
    <span th:text="${myProfile.name}"></span>
</div>
<div>
    <label>이메일: </label>
    <span th:text="${myProfile.email}"></span>
</div>
<div>
    <label>닉네임: </label>
    <span th:text="${myProfile.nickName}"></span>
</div>
<div>
    <label>주소: </label>
    <span th:text="${myProfile.address}"></span>
</div>
<div>
    <label>전화번호: </label>
    <span th:text="${myProfile.phoneNumber}"></span>
</div>
<div>
    <label>가입일시: </label>
    <span th:text="${myProfile.createdAt}"></span>
</div>
</body>
</html>